.background-img {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    position: absolute;
    height: 100vh;
    width:100vw;
    background-image: url('../../assets/background.jpeg');
    background-color: #232239;
    background-size: cover;
    background-repeat: no-repeat;
}
.div-cadastro{
    display: flex;
    width: 60%;
    height: 60%;
    background-color: rgba(10, 17, 79, 0.8);
    border-radius: 40px;
}
.form-cadastro{
    display: flex;
    flex-direction: column;
    padding: 2%;
    color: white;
    gap:1.25em;
}
div{
    width: 100%;
}
.titulo {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em; 
    align-items: center;
    color: white;
    font-weight: bold;
}
.linebox {
    display: flex;
    justify-content: space-between;
}
input{
    background-color:white;
    color:black;
    width: 45%;
    border: none;
    border-radius: 40px;    
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
    
    
}

input::placeholder{
    color:gray;
    font-family: 'Roboto';
    font-size: 1em;
}

.busca-input{
    width: 97%;
    margin-right: 0%;
}

button{
    color:white;
    border: none;
    border-radius:70px;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em 1.5em; 
    cursor: pointer;
    transition: 0.25s;  
}
button:hover{
    float: left;
    background: white;
    color: black;
    align-items: left;
    justify-items: left;
}
.buy-button {
    background-color:#47B802;
}

.sell-button {
    background-color:#9F0303;
    padding: 0.5em 2em; 
}

.error{
    color:#721c24;
    background-color: #F8D7D4;
    border: 1px solid #F5C6CB;
    padding: 0.5em 1.5em; 
    border-radius: 5px;
    
}

.buttonBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    margin-top: 1.75em;
}
.date-input{
    margin-left: 40%;
    display: flex;
    width: 80%;
    border: none;
    border-radius: 40px;
    margin-right: 60%; 
}