body {
    margin: 0;
}
.background-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width:100vw;
    background-image: url('../../assets/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.div-cadastro{
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 80%;
    background-color: rgba(10, 17, 79, 0.8);
    border-radius: 40px;
    color: white;
    opacity: 25%;
}

.titulo {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em; 
}