.background-img-carteira {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width:100vw;
    background-image: url('../../assets/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto Flex';
    
}


.div-patrimonio{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    width: 60%;
    height: 25%;
    background-color: #A9A9A9;
    border-radius: 40px;
    color: white;
    margin-bottom: 1.2%;
}  

.icon {
    padding-right: 1%;
    color: white;
}
.eye{
    padding-left: 1%;
    color: black;
    cursor: pointer;
}

.titulo-carteira{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em; 
    color: white;
    font-weight: bold;
    margin-top: 2.5%;         
}

.div-titulo-patrimonio{
    margin-top: -1.6px;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-weight: bold;       
}
.div-ativos-patrimonio ul {
    color: #000000;
    padding-right: 10px;
    display: flex;
}
.div-ativos-patrimonio li{
    padding: 10px;
}

.div-grid-patrimonio {   
    height: 70%; 
    width: 90%;
    margin-left: 1.5em;
    padding: 2.0%;
    margin-top: 0.5em;  
    height: 30em;
    background-color: #dcdcdc;
    border: 2px solid;
    border-color: #0000;
    border-radius: 25px;

}  

.barra-patrimonio { 
    background-color: #241453;
    margin-top: 0.4em;
    margin-left: -2.6em;
    margin-right: 5%;
    width: 0.5em;
    height: 95%;
}

.div-rentabilidade{
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    width: 60%;
    height: 25%;
    background-color: #A9A9A9;
    border-radius: 40px;
    color: white;
}  


.div-titulo-rentabilidade{
    margin-top: -1.6px;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-weight: bold;       
}

.div-ativos-rentabilidade {    
    margin-left: 66%;
    display: flex;
    flex-direction: row;
    padding: 2.0%;
    margin-top: 0.8em;  
    width: 30%;
    height: 100%;
    background-color: #dcdcdc;
    border: 2px;
    border-radius: 25px;
}  

