body {
    margin: 0;
}
.background-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width:100vw;
    background-image: url('../../assets/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    font-size: 2.5em;           
}

ul {
    color: #000000;
    padding-right: 10px;
    display: flex;
}
li{
    padding: 10px;
}
.div-historico  {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 80%;
    height: 70%;
    background-color: #dadadace;
    border-radius: 0.5cm;
    color: white;
}
table {
    background-color: #dadada4d;
    width: 100%;
}
table th {
    background-color: #181f33d2;
    color: #fff;
   
}
table td {
    background-color: #dadada4d;
    color: #0c0c0c;
}
.buttonBox{
    display: flex;
    margin-top: 6%;
}
.select-button {
    background-color:#181f33d2;
    color:white; 
    border-radius: 10cm;
    font-size: 0.8em;
    text-align: center;
    padding: 0.1mm 0.5cm; 
    cursor:pointer;
    transition: 0.25s;
    margin-right: 25%;
}