.background-img-patrimonio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width:100vw;
    background-image: url('../../assets/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto Flex';
    
}

.div-patrimonio{
    display: flex;
    flex-direction: column;
    padding: 1.0%;
    width: 70%;
    height: 70%;
    background-color: rgba(10, 17, 79, 0.904);
    border-radius: 40px;
}  

.titulo-patrimonio{
    text-align: center;
    margin-top: 1.0em;
    font-size: 2.5em;
    margin-bottom: 0.5em; 
    color: white;
    font-weight: bold;
}

.div-ativos-patrimonio ul {
    margin-top: auto;
    color: #000000;
    padding-right: 5px;
    display: flex;
}
.div-ativos-patrimonio li{
    padding: 5px;
}

.div-grid-patrimonio {      
    border-color: #ffff;
    height: 60%; 
    width: 85%;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 2.0%; 
    height: 25em;
    background-color: #dcdcdc;
    border-radius: 25px;
}  
