.background-img-rentabilidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width:100vw;
    background-image: url('../../assets/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto Flex';   
}

.div-rentabilidade{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 70%;
    height: 65%;
    background-color: #A9A9A9;
    border-radius: 1cm;
}  

.titulo-rentabilidade{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.3em; 
    color: white;
    font-weight: bold;
    margin-top: 5%;        
}

.div-grid-rentabilidade {    
    width: 30%;
    height: 90%;
    margin-top: 0cm;
    padding: 2.0%; 
    background-color: #dcdcdcd3;
    border: 1px solid;
    border-color:#fff;
    border-radius: 1cm;
}  

.div-chart-rentabilidade{
    width: 60%;
    height: -25em;
    padding: 2.0%; 
    background-color: #dcdcdcb0;
    border: 1px solid;
    border-color:#fff;
    border-radius: 1cm;
}