.background-img-rentabilidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width:100vw;
    background-image: url('../../assets/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto Flex';   
}

.div-rentabilidade{
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 70%;
    height: 65%;
    background-color: #A9A9A9;
    border-radius: 1cm;
    margin-top: 0.5%;
}  

.titulo-rentabilidade{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.3em; 
    color: white;
    font-weight: bold;
    margin-top: 5%;        
}

.div-grid-rentabilidade {    
    width: 30%;
    height: 25em;
    margin-left: 65%;
    margin-top: 2%;
    padding: 2.0%; 
    background-color: #dcdcdc;
    border: 2px solid black;
    border-color:black;
    border-radius: 15%;
}  

.barra-rentabilidade { 
    background-color: #241453;
    margin-top: 2em;
    margin-left: -5%;
    width: 0.5em;
    height: 15em;
}