@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.App {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

.carteira,
.acoes,
.historico,
.perfil {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
};